.consult {
    height: 142px;
    &__items {
        padding-top: 42px;
        display: flex;
        justify-content: space-between;
    }
    &__banner {
        font-weight: 700;
        font-size: 24px;
        color: #252B42;
    }
    &__title {
        margin-top: 10px;
        font-weight: 500;
        font-size: 14px;
        color: #737373;
    }
}